  @media (max-width: 380px) {
    .header-content__title {
        font-size: 4rem;
    }
    
    .btn {
        font-size: 1.6rem;
    }
  }

  @media (min-width: 576px) {
    .newsletter__title {
        max-width: none;
    }
  }

  @media (min-width: 768px) {
    .newsletter {
        flex-direction: row;
        align-items: center;
    }

    .newsletter__content {
        flex-basis: 55%;
        margin-right: 2rem;
        text-align: left;
    }

    .newsletter__banner {
        flex-basis: 45%;
    }

    .newsletter::before {
        width: auto;
        height: auto;
        top: 0;
        left: -45rem;
        background-size: auto;
        background-position: center left;
    }

  }

  @media (min-width: 992px) {
    .nav__btn, .nav-menu {
        display: none;
    }

    .menu {
        display: flex;
    }

    .nav__links {
        display: block;
    }

    .header-content__caption {
        max-width: 46rem;
    }

    .newsletter::before {
        left: -35rem;
    }
    
  }

  @media (min-width: 1200px) {
    .newsletter {
        padding: 1.5rem 6rem;
        justify-content: space-between;
    }

    .newsletter__content {
        flex-basis: auto;
    }

    .newsletter__banner {
        flex-basis: auto;
    }

    .footer__wrapper {
        justify-content: space-between;
    }

    .footer__about {
        flex-basis: 45%;
        margin-bottom: 2rem;
    }

    .footer__list-section {
        flex-grow: 0;
        margin-right: 3rem;
        margin-left: 3rem;
        margin-bottom: 0rem;
    }

    .newsletter::before {
        left: -20rem;
    }

    .header {
        min-height: 80rem;
    }

    .footer__top {
        left: auto;
        right: 18rem;
    }
  }

  @media (min-width: 1400px) {
    .footer__top {
        right: 30rem;
    }
  }