:root {
    /* Colors */
    --white: #FFF;
    --primary-color: #E76F51;
    --secondary-color: #FAF4F2;
    --text-color: #3B3735;
    --gray: #8D8D8D;

    /* Fonts */
    --primary-font: "Roboto", sans-serif, Arial;
    --secondary-font: "Roboto Medium", sans-serif, Arial;
    --title-font: "Archivo", sans-serif, Arial;
    --eighteen: 1.8rem;

    /* Transition */
    --primary-transition: all 250ms ease-in-out;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 10px */
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
}

/*

 -- Reset Styles --

*/

a {
    text-decoration: none;
}

/*

 -- Components --

*/

.btn {
    background-color: var(--gray);
    padding: 1.3rem 5rem;
    color: var(--white);
    border-radius: 3rem;
    font-family: var(--secondary-font);
    font-size: var(--eighteen);
}

/*

 -- App Styles --

*/


/*

 -- Header --

*/

.header {
    background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)), url("/images/header-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    padding-top: 2.5rem;
    border-bottom-right-radius: 8rem;
    border-bottom-left-radius: 8rem;
}

/*

 ==================
       Navbar
 ==================

*/

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__left {
    display: flex;
    align-items: center;
}

/*

 ==================
        Logo
 ==================

*/

.app-logo {
    margin-right: 3rem;
    display: block;
    width: 5rem;
    height: 5rem;
}

.app-logo__img {
    width: 100%;
    height: 100%;
}

/*

 ======================
       Main Menu
 ======================

*/

.menu {
    display: none;
}

.menu__item {
    margin-right: 2rem;
}

.menu__link {
    color: #D2D2D2;
    font-size: var(--eighteen);
    z-index: 1;
    transition: var(--primary-transition);
}

.menu__link:hover {
    color: var(--white);
}

.menu__link--active {
    color: var(--white);
    position: relative;
}

.menu__link--active::before {
    content: '';
    width: 4.5rem;
    height: 0.3rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%) rotate(40deg);
    z-index: -1;
}

/*

 ==========================
       Mobile Navbar
 ==========================

*/

.nav-menu {
    position: fixed;
    background-color: var(--text-color);
    top: 0;
    left: -25rem;
    bottom: 0;
    width: 25rem;
    padding: 2rem;
    transition: var(--primary-transition);
}

.nav-menu--open {
    left: 0;
}

.mobile-menu {
    margin-bottom: 3rem;
}

.mobile-menu__item {
    margin-bottom: 1.2rem;
}

.nav-menu__title {
    font-size: var(--eighteen);
    font-family: var(--title-font);
    color: var(--white);
}

.nav-menu__line {
    margin-bottom: 2.5rem;
}


.mobile-menu__link {
    color: var(--white);
    transition: var(--primary-transition);
    position: relative;
}

.mobile-menu__link::before {
    content: '';
    width: 0px;
    height: 0.2rem;
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 0;
    transition: var(--primary-transition);
}

.mobile-menu__link:hover {
    padding-left: 1.7rem;
}

.mobile-menu__link:hover::before {
    width: 1.2rem;
}

.nav-menu__links {
    display: flex;
}

.nav-menu__link {
    color: var(--white);
    display: block;
    border: 1px solid var(--white);
    flex-grow: 1;
    text-align: center;
    padding: 1rem;
    transition: var(--primary-transition);
}

.nav-menu__link:hover {
    background-color: var(--white);
    color: var(--text-color);
}

/*

 =========================
        Nav Links
 =========================

*/

.nav__links {
    display: none;
}

.nav__link {
    color: var(--white);
    padding: 1rem 2rem;
    font-family: var(--secondary-font);
}

.nav__link--border {
    border: 1px solid var(--white);
    border-radius: 3rem;
    transition: var(--primary-transition);
}

.nav__link--border:hover {
    background-color: var(--white);
    color: var(--text-color);
}

/*

 =========================
       Navbar Button
 =========================

*/

.nav__btn {
    width: 5rem;
    height: 5rem;
    background-color: var(--white);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav__btn-line {
    width: 2.8rem;
    height: 0.3rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    margin: 0.5rem 0;
    position: relative;
    transition: all 150ms ease-in-out;
}

.nav__btn-line::after,
.nav__btn-line::before {
    content: '';
    width: 2.8rem;
    height: 0.3rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    position: absolute;
    transition: all 200ms ease-in-out;
}

.nav__btn-line::after {
    top: -0.7rem;
    left: 0;
}

.nav__btn-line::before {
    bottom: -0.7rem;
    left: 0;
}

.nav__btn--open .nav__btn-line {
    background: transparent;
}

.nav__btn--open .nav__btn-line::after {
    transform: translateY(7px) rotate(45deg);
}

.nav__btn--open .nav__btn-line::before {
    transform: translateY(-7px) rotate(-45deg);
}

/*

 =========================
       Header Content
 =========================

*/

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--white);
    margin-top: 9.5rem;
}

.header-content__title {
    font-family: var(--title-font);
    font-size: 5rem;
    line-height: 1.3;
    margin-bottom: 2.5rem;
    max-width: 45rem;
}

.header-content__caption {
    margin-bottom: 2.5rem;
    max-width: 30rem;
}

.header-content__link {
    background-color: var(--primary-color);
}

/*

 -- Main --

*/

.main {
    padding: 4rem 0;
}

/*

 ==================
      Services
 ==================

*/

.services {
    margin-top: -15rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

.service {
    background-color: var(--white);
    border-radius: 3rem;
    text-align: center;
    padding: 2rem;
    height: 27rem;
    width: 29rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    margin-bottom: 2rem;
    flex-grow: 1;
    margin-right: 1rem;
    margin-left: 1rem;
}

.service__icon {
    display: block;
}

.service__title {
    font-family: var(--title-font);
    font-size: var(--eighteen);
    margin: 2rem 0 1rem;
}

.service__caption {

}

/*

 ==================
    Destinations
 ==================

*/

.destinations {
    margin-top: 10rem;
    text-align: center;
    color: var(--text-color);
}

.destinations__icon {
    display: block;
    margin: 0 auto;
    width: 8rem;
    height: 8rem;
}

.destinations__title {
    font-family: var(--title-font);
    font-size: 2.4rem;
    margin: 2rem auto;
    max-width: 29rem;
}

.destinations__places {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-right: -1rem;
    margin-left: -1rem;
}

.place {
    background-color: var(--white);
    border-radius: 3rem;
    height: auto;
    width: 29rem;
    padding: 3.5rem 3rem;
    text-align: center;
    margin-bottom: 2rem;
    flex-grow: 1;
    margin-right: 1rem;
    margin-left: 1rem;
    overflow: hidden;
}

.place__banner {
    width: 100%;
    height: 15rem;
    position: relative;
    margin-bottom: 3.5rem;
}

.place__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.place__like {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background-color: var(--white);
    width: 4rem;
    height: 4rem;
    border-radius: 1.3rem;
    cursor: pointer;
}

.place__like-icon {
    margin: 0.5rem auto;
}

.place__like-icon--fill {
    fill: var(--primary-color);
}

.place__price {
    position: absolute;
    bottom: -2rem;
    left: 0;
    right: 0;
    max-width: 13rem;
    margin: 0 auto;
    background-color: var(--white);
    color: var(--primary-color);
    font-family: var(--secondary-font);
    padding: 1rem 0;
    border-radius: 2rem;
}

.place__title {
    font-family: var(--title-font);
    font-size: var(--eighteen);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.place__caption {
    margin: 0.7rem 0 3rem;
}

.place__link {
    background-color: rgba(141,141,141,0.1);
    color: var(--gray);
    transition: var(--primary-transition);
}

.place__link:hover {
    background-color: rgba(231,111,81,0.1);
    color: var(--primary-color);
}

.destinations__btn {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: var(--primary-transition);
}

.destinations__btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}